.text-col{
    color: #434750;
    margin-bottom: 2%;
}

.margen-izq{
    margin-left: 20%;
    width: 20%;
    margin-bottom: 2%;
}

.margen-der{
    margin-right: 10%;
    width: 20%;
    margin-bottom: 2%;
}

.center{
    text-align: center;
    align-items: center;
    justify-items: center;
}

.mat-slider-horizontal{
    width: 20%;
}

.ancho{
    display: grid;
}