.alineacion-imagen{
    margin-left: 2%; 
    margin-right: 2%; 
    margin-top: 1%; 
    margin-bottom: 1%;
}
.alineacion-texto{
    margin-top: 5%;
}

.alineacion-contenedor{
    margin-left: 20%; 
    margin-right: 20%; 
    margin-top: 10%;
}