<div class="d-flex justify-content-around p-3 mb-2 bg-info text-white rounded d-block alineacion-contenedor" >
    <article class="alineacion-imagen" (click)="Clientes()">
        <div width="200em" height="200em">
            <img src="./assets/clientes.png" class="img-fluid rounded mx-auto d-block" alt="" >
        </div>
        <p class="text-center alineacion-texto">Gestión de Clientes</p>
    </article>
    <article class="alineacion-imagen" (click)="Promociones()">
        <div width="200em" height="200em">
            <img src="./assets/promociones.jpg" class="img-fluid rounded mx-auto d-block" alt="" >
        </div>
        <p class="text-center alineacion-texto">Administración de Promociones</p>
    </article>
    <article class="alineacion-imagen" (click)="Asignaciones()">
        <div width="200em" height="200em">
            <img src="./assets/asigna-promocion.jpg" class="img-fluid rounded mx-auto d-block" alt="" >
        </div>
        <p class="text-center alineacion-texto" >Asignación de Promociones</p>
    </article>
</div>
