<div>
  <mat-toolbar color="primary" class="navbar">
    <a [routerLink]="['']">
      <div><img class="rounded" src="./assets/logo.png" alt="" height="50em"> TELE-Iquitos</div>
    </a>
    <div>
        <a [routerLink]="['promos']" class="espacio">
          <span class="size">Administración de Promociones</span>
        </a>
        <a [routerLink]="['asignaciones']" class="espacio">
          <span class="size">Asignación de Promociones</span>
        </a>
        <a [routerLink]="['reportes']" class="espacio">
          <span class="size">Reporte de Asignaciones</span>
        </a>
    </div>
  </mat-toolbar>
</div>
<br>