<div class="all">
    <div class="d-flex justify-content-around p-3 mb-2 bg-info text-white rounded d-block alineacion-contenedor" >
        <a [routerLink]="['promos']">
            <article class="alineacion-imagen">
                <div width="200em" height="200em">
                    <img src="./assets/promociones.jpg" class="img-fluid rounded mx-auto d-block" alt="gestion-promociones" >
                </div>
                <p class="text-center alineacion-texto">Administración de Promociones</p>
            </article>
        </a>
        <a [routerLink]="['asignaciones']">
            <article class="alineacion-imagen">
                <div width="200em" height="200em">
                    <img src="./assets/asigna-promocion.jpg" class="img-fluid rounded mx-auto d-block" alt="asignacion-promociones" >
                </div>
                <p class="text-center alineacion-texto" >Asignación de Promociones</p>
            </article>
        </a>
        <a [routerLink]="['reportes']">
            <article class="alineacion-imagen">
                <div width="200em" height="200em">
                    <img src="./assets/reportes.png" class="img-fluid rounded mx-auto d-block" alt="reporte-asignaciones" >
                </div>
                <p class="text-center alineacion-texto">Reporte de Asignaciones</p>
            </article>
        </a>
    </div>
</div>