<div class="all">
    <div class="mat-title text-center text-col">Asignación de Promociones</div>

    <p class="text-center">Para realizar la asignación de las promociones a los clientes habilitados, dé clic en el siguiente botón.</p>
    <p class="text-center">Una vez iniciado el proceso de asignación, éste no podrá ser detenido.</p>
    <br>
    <div class="center">
        <button (click)="abrirDialogo()" mat-raised-button color="primary">Realizar Asignación de Promociones</button>
    </div>
    <br>
    <div class="center">
        <button (click)="quitarPromociones()" mat-raised-button color="accent">Deasignar todas las Promociones</button>
    </div>
</div>